body {
  font-family: 'Open Sans', sans-serif;
  color: #dddddd;
  font-weight: 300;
  margin: 2rem;
  font-size: 26px;
  width: auto;
  background-color: #4a4a4a;
}

table, tr, td {
  width: 100%;
}

input[type=range]{
  -webkit-appearance: none;
  background-color: transparent;
  margin: 20px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 22px;
  background: #555;
  border: none;
  border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: goldenrod;
  margin-top: 1px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #776;
}