* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}


#qr-reader-results {
  font-size: 18px;
  margin: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  font-family: sans-serif;
  font-size: 13px;
  width: auto;
  background-color: #f1f9f9;
}

input,button,select,option {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  border-width: 0.5px;
  border-style: dashed;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}