body {
	background-color: #000;
    overflow: hidden;
}

.button {
	cursor: pointer;
	border: none;
	background: #7808d0;
	color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	display: grid;
	place-content: center;
	transition: background 300ms;
	font-weight: 600;
  }
  
  .button__text {
	position: absolute;
	inset: 0;
	animation: text-rotation 8s linear infinite;
  
	> span {
	  position: absolute;
	  transform: rotate(calc(17deg * var(--index)));
	  inset: 7px;
	}
  }
  
  .button__circle {
	position: relative;
	width: 40px;
	height: 40px;
	overflow: hidden;
	background: #fff;
	color: #7808d0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .button__icon--copy {
	position: absolute;
	transform: translate(-150%, 150%);
  }
  
  .button:hover {
	background: #000;
  }
  
  .button:hover .button__icon:first-child {
	transition: transform 0.3s ease-in-out;
	transform: translate(150%, -150%);
  }
  
  .button:hover .button__icon--copy {
	transition: transform 0.3s ease-in-out 0.1s;
	transform: translate(0);
  }
  
  @keyframes text-rotation {
	to {
	  rotate: 360deg;
	}
  }

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0,0,0,0.7);
}

#overlay button {
	background: #ffffff;
	border: 0;
	color: #000000;
	padding: 16px 20px;
	text-transform: uppercase;
	cursor: pointer;
}