body {
  display:flex;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  font-family: 'Manrope', sans-serif;
  font-size: 13px;
  background-color: #000;
  z-index: 99;
}

#gl-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 100;
}

input {
  position: absolute;
  padding: 0px;
  border: none;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 72px;
  caret-color: transparent;
  background-color: transparent;
  color: #FFF;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

@-webkit-keyframes glow {
  from {
    text-shadow:
      0 0 2px  #fff,
      0 0 4px  #fff,
      0 0 6px  #0073e6,
      0 0 8px  #0073e6,
      0 0 10px #0073e6,
      0 0 12px #0073e6,
      0 0 14px #0073e6;
  }
  to {
    text-shadow:
      0 0 4px  #fff,
      0 0 6px  #4da6ff,
      0 0 8px  #4da6ff,
      0 0 10px #4da6ff,
      0 0 15px #4da6ff,
      0 0 26px #4da6ff,
      0 0 32px #a4d6ff;
  }
}