body {
  font-family: sans-serif;
  font-size: 13px;
}

#qr-reader {
  align-self: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#qr-reader-results {
  align-self: center;
  font-size: 18px;
  margin: 10px;
}

a {
  font-size: 22px;
  font-weight: bold;
}