body {
  font-family: sans-serif;
  font-size: 13px;
  background: #111;
  color: #eee;
}

#qr-reader {
  align-self: center;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#qr-reader-results {
  align-self: center;
  font-size: 16px;
  margin: 10px;
}

#reload {
  position: absolute;
  top:12px;
  right: 12px;
  width: 12px;
  height: 12px;
  background: #a80;
  border-radius: 50%;
}

a {
  font-size: 20px;
  font-weight: bold;
}