/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
      --body-bg: #ECEFF1;
      --body-color: #263238;
      --border-fg: rgba(0,0,0,0.0625);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
      --body-bg: #263238;
      --body-color: #ECEFF1;
      --border-fg: rgba(255,255,255,0.0625);
  }
}

body {
    background: var(--body-bg);
    color: var(--body-color);
    margin: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
  padding: 12px 8px;
}

h3 {
  font-size: 16px;
  padding: 12px 8px;
}

img {
  /*
  width: 40px;
  height: 40px;
  */
  object-fit: contain;
  padding: 4px;
}

.icon-wrap {
  display: inline-block;
  background: rgba(255,255,255,0.875);
  border-radius: 48px;
  text-align: center;
  padding: 8px;
  margin: 8px;
  width: 64px;
  height: 64px;
}

.icon-wrap > div {
  position: absolute;
  /*background-color: red;*/
  height: 52px;
  width: 52px;
  display: block;
  border-radius: 30px;
  background: rgb(247, 247, 247);
  background: -moz-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
  background: linear-gradient(to bottom, rgba(247, 247, 247, 1) 0%, rgba(229, 229, 229, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e5e5e5', GradientType=0);
}

.icon-wrap > p {
  font-size: 12px;
  padding-top: 8px;
}