/* Light mode */
@media (prefers-color-scheme: light) {
  :root {
      --body-bg: #eee;
      --body-color: #111;
      --border-fg: rgba(0,0,0,0.0625);
      --bg-stripes: repeating-linear-gradient(
        -45deg,
        #E0E0E0, #E0E0E0 3px,
        #0001 3px, #0001 4px)
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
      --body-bg: #eee;
      --body-color: #111;
      --border-fg: rgba(0,0,0,0.0625);
      --bg-stripes: repeating-linear-gradient(
        -45deg,
        #263238, #263238 3px,
        #102220 3px, #102220 4px)
  }
}

body {
    /*background: var(--bg-stripes);*/
    color: var(--body-color);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#container {
  z-index: 1;
}

div {
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
  padding: 12px 8px;
}

h3 {
  font-size: 16px;
  padding: 12px 8px;
}

img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  padding: 4px;
}



.icon-wrap {
  display: inline-block;
  background: white;
  box-shadow: 0 0 22px 0 #0006;
  border-radius: 50%;
  text-align: center;
  padding: 8px;
  margin: 8px;
  width: 64px;
  height: 64px;
}

.icon-wrap > div {
  position: absolute;
  height: 52px;
  width: 52px;
  display: block;
  border-radius: 30px;
  background: #eee;
}

.icon-wrap > p {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inherit;
  font-size: 10px;
  font-weight: bold;
  padding: 12px 0 22px 0;
  margin: 0 ;
}