@import url("../daynight.css");
:root {
  --fsz-tb: 13px;
  --accent:  #fb0;
  --main-bg: #111;
  --main-fg: #eee;
}

body {
  position: relative;
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scrollbar-color: transparent transparent;
  background: var(--main-bg);
  color: var(--main-fg);
}

video {
  width: 100%;
}

code {
  display: block;
}

button, input, pre {
  width: calc(100% - 20px);
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #8888;
  border-radius: 8px;
  padding: 12px;
  margin: 8px;
}

input, pre {
  width: calc(100% - 40px);
}