.container {
  width: 90%;
  height: 240px;
  margin: auto;
  padding: 5px;
  font-size: small;
}

#js-chart {
  width: 40%;
  height: 240px;
  float: left;
}

#cbox {
  display: inline-block;
  border-radius: 2px;
  margin-right: 10px;
  width: 10px;
  height: 10px;
}

#js-legend {
  margin-left: 50%;
  height: 240px;
  display: flex;
  flex-direction: row;
  align-items: center;
}