@media (prefers-color-scheme: light) {
    :root {
        --body-bg: #ECEFF1;
        --body-color: #263238;
        --border-fg: rgba(0,0,0,0.0625);
        --hljs-comment: #777;
        --hjls-tag: #875dab;
        --hjls-var: #7d87ab;
        --hjls-attr: #9b869b;
        --hjls-str: #6c9c8f;
    }
}
  
  /* Dark mode */
  @media (prefers-color-scheme: dark) {
    :root {
        --body-bg: #263238;
        --body-color: #ECEFF1;
        --border-fg: rgba(255,255,255,0.0625);
        --hljs-comment: #777;
        --hjls-tag: #ab5d87;
        --hjls-var: #ab875d;
        --hjls-attr: #9b869b;
        --hjls-str: #8f9c6c;
    }
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--body-bg);
    color: var(--body-color);
  }
  
  .hljs-comment,
  .hljs-quote {
    color: var(--hljs-comment);
  }
  
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-tag,
  .hljs-meta {
    color: var(--hjls-tag);
  }

  .hljs-variable,
  .hljs-template-variable,
  .hljs-regexp,
  .hljs-number,
  .hljs-literal,
  .hljs-params,
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-deletion {
    color: var(--hjls-var);
  }
  
  .hljs-section,
  .hljs-title,
  .hljs-name,
  .hljs-selector-id,
  .hljs-selector-class,
  .hljs-type,
  .hljs-attribute {
    color: var(--hjls-attr);
  }
  
  .hljs-string,
  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-addition {
    color: var(--hjls-str);
  }
  
  .hljs-emphasis {
    font-style: italic;
  }
  
  .hljs-strong {
    font-weight: bold;
  }