body {
  margin: 0;
  overflow: hidden;
  background-color: #002;
}
button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  border: none;
  background-color: transparent;
  color: red;
  font-size: 18px;
}