body {
  margin: 0;
  overflow: hidden;
  background-color: #002;
  font-family: sans-serif;
}
button {
  position: absolute;
  right: 8px;
  bottom: 8px;
  border: none;
  background-color: transparent;
  color: red;
  font-size: 18px;
}

#info {
  position: absolute;
  left: 8px;
  text-align: center;
  bottom: 8px;
  color: green;
  font-size: 12px;
  font-weight: bold;
}