    body, html {
      font-family: monospace;
      margin: 0;
      padding: 0;
      height: 100%;
      background: #111;
      overflow: hidden;
    }
    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }
    
    #m-top {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      text-align: start;
      padding: 12px;
      background: #444;
      transition: margin-left 0.4s ease;
    }
    #m-top.hidden {
      margin-left: calc(-100% - 8px);
      background: #800;
    }

    #i-url {
      display: inline-block;
      width: calc(100% - 72px);
      padding: 8px;
      margin-left: 24px;
      font-size: 14px;
      color: #eee;
      background: #333;
      border-radius: 8px;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }