@font-face {
  font-family: 'stmVelish';
  src:url('fonts/stmvelish.woff2') format('woff2');
}

body {
  background: #003;
}

#heb-content {
  font-size: 26px;
  text-align: right;
  color: white;
  font-family: 'stmVelish';
  padding: 32px 24px;
  flex: 1;
}
#eng-content {
  font-size: 18px;
  text-align: left;
  color: white;
  padding: 32px 24px;
}
#pasuk-ref {
  font-size: 10px;
  text-align: right;
  padding: 0px 24px;
}
#pasuk-prev {
  position: static;
  margin: 0 12px;
  width: 42px;
  height: 42px;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  border: 1px solid #fff2;
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#pasuk-next {
  position: static;
  margin: 0 12px;
  width: 42px;
  height: 42px;
  color: white;
  font-size: 12px;
  border-radius: 50%;
  border: 1px solid #fff2;
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
#verse {
  position: fixed;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  font-size: 26px;
  padding: 0.5vw;
  border-radius: 1vw;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.8);
  text-align: center;
}

#heb-row {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin-top: 32px;
}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="manifest" href="site.webmanifest">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <script src="https://unpkg.com/kosher-zmanim/dist/kosher-zmanim.min.js"></script>
</head>
<body>
  <div id="container">
    <div id="heb-row">
      <div id="pasuk-next">next</div>
      <div id="heb-content"></div>
      <div id="pasuk-prev">prev</div>
    </div>
    <div id="pasuk-ref"></div>
    <div id="eng-content"></div>
    <input type="text" id="verse" placeholder="Enter a verse (e.g. Bereshit 1.1)" value="Bereshit 1.1"/>
  </div>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>
