@font-face {
  font-family: stmVelish;
  src:url(stmvelish.ttf) format('truetype');
}
body {
  background: #103;
}

#heb-content {
  font-size: 26px;
  text-align: right;
  color: white;
  font-family: stmVelish;
  padding: 24px;
}
#eng-content {
  font-size: 18px;
  text-align: left;
  color: white;
  margin-top: -1vw;
}
#verse {
  position: fixed;
  bottom: 1vw;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  font-size: 26px;
  padding: 0.5vw;
  border-radius: 1vw;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.8);
  text-align: center;
}