:root {
  --ico-sz: 32px;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow: hidden;
  background: #222;
  color: white;
}

.material-icons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

video {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-self: center;
  object-fit: cover;
  z-index: -1;
  margin: 0;
  background: #200;
}

#videoOverlay {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-self: center;
  object-fit: cover;
  z-index: 0;
  margin: 0;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  color: #fff1;
  background: transparent;
} 

#timelapseVideo {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-self: center;
  object-fit: contain;
  margin: 0;
  background: #020;
  z-index: 5;
}  

.div-timer {
  position: absolute;
  top: 48px;
  width: 100%;
  height: auto;
  font-size: 72px;
  font-weight: 100;
  text-align: center;
}

#div-timer {
  display: none;
}

.div-timer-label {
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 12px 0 0 0;
}

#elapsedTime {
  font-size: 18px;
}

.div-info {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
  padding: 12px;
}

.info {
  padding: 8px;
}

.controls {
  position: absolute;
  display: block;
  background: #0008;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 8px 0 24px 0 ;
  align-self: center;
  align-items: center;
}

.rec-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.rec-btn-div {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #0002;
  background: #fff;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.div-ico-48 {
  display: flex;
  width: 48px;
  height: 48px;
  align-items: center;
  align-self: center;
  text-align: center;
  justify-self: center;
  justify-content: center;
  border: 2px solid #fff4;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  background:transparent;
  color: white;
}

.rec-btn-div input[type="checkbox"] {
  display: none;
}

.rec-btn-div label {
  display: block;
  aspect-ratio: 1;
  margin: 4px;
  background: #800;
  border-radius: 50%;
  transition: 0.25s;
  animation: none;
}

.rec-btn-div input[type="checkbox"]:checked + label {
  margin: 22px;
  background: #a00;
  border-radius: 20%;
  animation: pulse 1000ms infinite;
}

@keyframes pulse {
  0%   { background-color: #a00; }
  50%  { background-color: #fff; }
  100% { background-color: #a00; }
}

#status {
  align-self: center;
  font-size: 12px;
  text-align: center;
  margin: 12px;
}

.div-range {
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  margin: 0; 
}

.flex-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 12px 0;
}

.flex-1 {
  flex: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.ico {
  font-family: 'Material Symbols Outlined';
  font-size: 36px;
  display: block;
  padding: 8px;
  text-align: center;
  cursor: pointer;
}

.ico-label {
  font-size: 10px;
  text-align: center;
}

.ico-svg {
  width: var(--ico-sz);
  height: var(--ico-sz);
  fill: #e3e3e3;
  &:hover {
    fill: #4af;
  }
}

#customPrompt {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #222;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 20;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 19;
}

#customPrompt button, select {
  margin-top: 10px;
  background: #111;
  color: white;
  padding: 8px;
  border: 1px solid #fff1;
  border-radius: 8px;
  font-size: 18px;
  outline: none;
}
