body {
    font-family: sans;
    font-size: 14px;
}

input {
    font-size: 18px;
    font-weight: 800;
    margin: 12px;
    padding: 8px;
    border-radius: 12px;
    background: #9882;
    &::file-selector-button {
        font-weight: bold;
        background: #eee;
        color: #5af;
        padding: 0.5em;
        border: none;
        outline: none;
        margin-right: 1.5em;
        border-radius: 12px;
        transition: 1s;
    }
    &::file-selector-button:hover {
        color: #eee;
        background-color: #5af;
    };
}

#csvOut {
    font-weight: bold;
    background: #eee;
    color: #5af;
    padding: 0.5em;
    border: none;
    outline: none;
    margin-right: 1.5em;
    border-radius: 12px;
    transition: 1s;
}

#csvOut:hover {
    color: #eee;
    background-color: #5af;
}

a,
.btn,
#loadCsv,
#saveCsv {
    color: #06a;
    margin: 12px;;
    border-radius: 12px;
    border: 1px solid #8881;
}

#saveCsv {
    display: none;
}

.title {
    font-size: 10px;
}