@import url("../daynight.css");
:root {
  --btn-sz: 64px;
  --fsz-tb: 13px;
  --accent:  #fb0;
  --main-bg: #111;
  --main-fg: #eee;
}

body {
  font-family: sans-serif;
  scrollbar-color: transparent transparent;
}

#tl-canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}

#tl-video {
  position: absolute;
  width: 100dvw;
  height: 100dvh;
  object-fit: contain;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

#record-btn-div {
  position: absolute;
  bottom: 24px;
  width: var(--btn-sz);
  height: var(--btn-sz);
  right: calc(100dvw/2 + var(--btn-sz)/2);
  left: calc(100dvw/2 - var(--btn-sz)/2);
  border-radius: 50%;
  border: 1px solid #0002;
  background: #fff;
  align-items: center;
  z-index: 3;
}

#record-btn-div input[type="checkbox"] {
  display: none;
}

#record-btn-div label {
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background: #b00;
  border-radius: 50%;
  transition: 0.25s;
}

#record-btn-div input[type="checkbox"]:checked + label {
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background: #b00;
  border-radius: 25%;
}


#log {
  position: absolute;
  top: 12px;
  right: 12px;
  left: 12px;
  height: 20dvh;
  font-family: monospace;
  font-size: 12px;
  color: #0b0;
  background: #8882;
  border-radius: 2px;
  z-index: 2;
}

#panel-bottom {
  position: absolute;
  bottom: 0;
  height: 20dvh;
  right: 0;
  left: 0;
  background: #0008;
  z-index: 2;
}

#div-table {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  overflow-x: auto;
  white-space: nowrap;
  top: 12px;
  left: 0;
  right: 0;
}

#table-caps {
  display: table;
  table-layout:fixed;
  width: auto;
  overflow-x: auto;
  min-width: 100%;
  border-collapse: collapse;
  align-items: center;
}
#table-caps thead tbody {
  display: table;
}

#table-caps th {
  font-weight: 600;
  font-size: var(--fsz-tb);
  color: var(--accent);
  white-space:nowrap;
  margin-bottom: 0;
}

#table-caps tr {
  margin-top: 0;
  font-weight: 600;
  font-size: var(--fsz-tb);
  color: var(--main-fg);
  white-space:nowrap;
}

#table-caps td {
  padding: 0 12px;
}

#div-input {
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
  left: 48px;
  right: 48px;
}