body {
    font-family: Arial, Helvetica, sans-serif;
    background: #111;
    color: #eee;
}

select {
    margin: 4px;
    padding: 8px;
    border: #fff1;
    border-radius: 8px;
    font-size: 18px;
    background: #111;
    color: #eee;
}

.container {
    display: block;
    width: 90%;
    height: 240px;
    margin: auto;
    padding: 5px;
    font-size: small;
}

#js-chart {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}

#chart {
    position: relative;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    align-items: center;
}

.grid-item {
    padding: 8px;
    text-align: center;
    align-self: center;
}

.cbox {
    border-radius: 2px;
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

.cap-info {
    font-size: 0.9rem;
    font-weight: 900;
}


#js-legend {
    display: flex;
    width: 100%;
    align-items: center;
}

#cluster-info {
    font-size: 0.9rem;
    font-weight: 900;
}

#proc-info {
    line-height: 1.15;
}

#gap {
    height: 8px;
}