:root {
  color-scheme: dark light;
  --accent: light-dark(#07b,#0b0);
  --swsz: 20px;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  font-family: system-ui, sans-serif;
}

.container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children in a column */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

#timer {
  font-size: 4rem;
  font-weight: 100;
  text-align: center;
  margin-bottom: 1rem;
}

button {
  display: block;
  margin-bottom: 4px;
  border: 1px solid #8888;
  border-radius: 12px;
  padding: 8px 16px;
}
pre {
  color: red;
  white-space: pre-line;
}

.div-start,
.div-mic {
  display: flex;
  justify-content: center; /* Center horizontally */
}

.div-start {
  bottom: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.div-start input[type="checkbox"]{
  display: none;
}

.container input:checked ~ .start-button {
  width: 42px;
  height: 42px;
  background-color: #b00;
  border: 12px solid #fff;
  outline: 1px solid #000;;
  animation: glowing 1300ms infinite;
}

.start-button {
  width: 48px;
  height: 48px;
  margin: 32px 0;
  border-radius: 48px;
  background-color: #eee;
  border: 2px solid #fff;
  outline: 1px solid #000;
  transition: 0.5s;
  animation: none;
}

@keyframes glowing {
  0% {
    background-color: #b00;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #b00;
  }
}



.fs-mic,
.fs-setup {
  display: inline;
  border: 1px solid #8884;
  border-radius: 12px;
  font-size: 8px;
  color: var(--accent);
  margin: 4px 0;
  text-align: center;
}

.fs-mic {
  display: flex;
  top: 12px;
  width: 42px;
  border: none;
  
}

.fs-mic input[type="radio"],
.fs-setup input[type="radio"] {
  display: none;
}

.fs-mic label,
.fs-setup label {
  display: inline-block;
  color: #8888;
  padding: 4px 5px;
  margin: 8;
  font-size: 12px;
  font-weight: 800;
}

.fs-mic input[type="radio"]:checked + label {
  margin: 0;
  color: #0b0;
  border-bottom: 2px solid  #0b0;
}

.fs-mic #r0 input[type="radio"]:checked + label {
  margin: 0;
  color: #b00;
  border-bottom: 2px solid  #b00;
}

.fs-setup input[type="radio"]:checked + label {
  margin: 0;
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
}