body {
  font-family: sans-serif;
  font-size: 13px;
  width: auto;
}



#qr-reader-results {
  font-size: 18px;
  margin: 10px;
}

input,button,select,option {
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 8px;
  border-width: 0.5px;
  border-style: dashed;
}

table {
  font-family: monospace;
  font-weight: bold;
  font-size: 12px;
  text-align: start;
  table-layout: fixed;
}

th {
  margin: 20px;
  border-bottom: 1px solid black;
  background-color: #dde;
}

tr {
  width: 100%;
  margin: 20px;
  border-bottom: 0.5px solid black;
  page-break-inside: avoid;
  background-color: #eef;
}

td {
  padding: 10px;
}